.chip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(223, 223, 223);
}

.chip-image {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.chip-remove-icon {
  height: 10px;
  width: 10px;
}